<div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-w-screen-lg">
  <nav>
      <div class="flex flex-wrap justify-between md:gap-10 md:flex-nowrap">
          <div class="flex-col items-center justify-start order-2 hidden w-full md:flex md:flex-row md:w-auto md:flex-1 md:order-none">
            <a routerLink="/blog" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">
              Home
            </a>
            <a [routerLink]="['/account/' + idAccountLocal]" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">
                Account
            </a>
            <a routerLink="/create-blog" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">
                Create Blog
            </a>
            <div class="dropdown">
              <button class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">Topic
              </button>
              <div class="dropdown-content">
                <a routerLink="/topic-it" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">IT</a>
                <a routerLink="/topic-life" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">LIFE</a>
              </div>
            </div>
          </div>
          <div class="flex-col items-center justify-end order-2 hidden w-full md:flex md:flex-row md:w-auto md:flex-1 md:order-none">
            <a routerLink="/login" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-red-500 cursor-pointer link-effect" (click)="userService.logOut()">
                Sign Out
            </a>
          </div>
      </div>
  </nav>
</div>
<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-slate-300">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-1/2 h-full" method="post" [formGroup]="blogForm" (ngSubmit)="post()">
      <div class="mb-4">
        <label class="block text-gray-700 text-xl font-bold mb-2" for="title">
          Title
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        formControlName="title" id="title" type="text" placeholder="Title">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-xl font-bold mb-2" for="topic">
            Topic
        </label>
        <div class="relative">
        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            formControlName="topic" id="topic">
            <option>It</option>
            <option>Life</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
        </div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-xl font-bold mb-2" for="description">
          Description
        </label>
        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="description" id="description" type="text" placeholder="Description"></textarea>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-xl font-bold mb-2" for="description">
          Image Cover
        </label>
        <input #imageInput class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="imageSrc" id="image" type="file" placeholder="Image" accept="image/*" (change)="processFile(imageInput)"/>
        <!-- Image Preview -->
        <div class="imagePreview w-72" *ngIf="imageSrc">
          <img [src]="imageSrc" >
        </div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-xl font-bold mb-2" for="body">
          Body
        </label>
        <ckeditor [config]="ckeModel.ckeConfig" [data]="ckeModel.data" (change)="onChange($event)" ></ckeditor>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-xl font-bold mb-2" for="published">
            Published
        </label>
        <div class="relative">
        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            formControlName="published" id="published">
            <option>true</option>
            <option>false</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
        </div>
      </div>
      <div class="flex flex-row items-center justify-end mb-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-fit mr-2" type="submit">
          Submit
        </button>
        <a [routerLink]="['/blog']" class="w-fit bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ">
            Back
        </a>
      </div>
    </form>
</div>