<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-w-screen-lg">
    <nav>
        <div class="flex flex-wrap justify-between md:gap-10 md:flex-nowrap">
            <div class="flex-col items-center justify-start order-2 hidden w-full md:flex md:flex-row md:w-auto md:flex-1 md:order-none">
                <a routerLink="/blog" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">
                    Home
                </a>
                <a [routerLink]="['/account/' + idAccountLocal]" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">
                    Account
                </a>
                <a routerLink="/create-blog" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">
                    Create Blog
                </a>
                <div class="dropdown">
                  <button class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">Topic
                  </button>
                  <div class="dropdown-content">
                    <a routerLink="/topic-it" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">IT</a>
                    <a routerLink="/topic-life" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 cursor-pointer link-effect">LIFE</a>
                  </div>
                </div>
            </div>
            <div class="flex-col items-center justify-end order-2 hidden w-full md:flex md:flex-row md:w-auto md:flex-1 md:order-none">
              <a routerLink="/login" class="px-5 py-2 text-base font-medium text-gray-600 dark:text-gray-400 hover:text-red-500 cursor-pointer link-effect" (click)="userService.logOut()">
                  Sign Out
              </a>
            </div>
        </div>
    </nav>
</div>
    <div class="container mx-auto  py-6 w-screen">
        <div class="max-w-screen-md mx-auto ">
          <div class="text-center">
            <span class="inline-block mt-5 text-xs font-medium tracking-wider uppercase">{{blog.topic}}</span>
          </div>
          <h1 class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4xl">
            {{blog.title}}
          </h1>
          <div class="flex justify-center mt-3 space-x-3 text-gray-500 ">
            <p class="text-sm pb-8">
                By <span class="font-semibold hover:text-black text-gray-800">{{account.username}}</span>, 
                Published on {{blog.publishedAt | date: 'd/M/y'}}
            </p>
            <span className="text-xs text-gray-300 dark:text-gray-600">
              &bull;
            </span>
            <p class="text-sm pb-8">
              <span> 
                {{blog.views + 1}}
              </span>
              <i class="fa fa-eye"></i> 
            </p>
          </div>
        </div>
    </div>
    <div class="relative z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
      <img layout="fill" loading="eager" objectFit="cover" src={{blog.imageSrc}} alt="Image Cover"/>
    </div>
    <div class="container mx-auto  py-6 w-screen">
      <article class="max-w-screen-md mx-auto">
        <div class="mx-auto my-3 prose prose-base dark:prose-invert prose-a:text-blue-500" [innerHTML]="blog.body"></div>
        <div class="flex justify-center mt-7 mb-7">
            <a routerLink="/blog" class="px-5 py-2 text-sm text-blue-600 rounded-full dark:text-blue-500 bg-brand-secondary/20">
              ← View all posts
            </a>
        </div>
        <div *ngIf="author" class="flex justify-center mt-7 mb-7">
          <a [routerLink]="['/edit-blog/' + blog._id]" class="px-5 py-2 mx-4 text-sm text-slate-600 rounded-full bg-brand-secondary/20">
            Edit Blog
          </a>
          <a class="px-5 py-2 mx-4 text-sm text-red-500 rounded-full bg-brand-secondary/20 cursor-pointer" (click)="delete()">
            Delete
          </a>
        </div>
      </article>
    </div>
</body>